[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
Django = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
PyJWT = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "*"
black = "*"
pillow = "*"
dj-database-url = "*"
gunicorn = "*"
django-daraja = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
